*{
    box-sizing: border-box;
}
.alerts-card {
    width: 100%;
    height: 550px;
    background: #e6e6e6;
    border-radius: 30px;
    padding: 70px 90px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
}

.alerts-card h1 {
    margin-bottom: 40px;
}

.alerts-section {
    width: 400px;
}

.sound-group {
    margin-bottom: 30px;
}

.sound-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.sound-group select,
.sound-group input[type="range"] {
    width: 100%;
    padding: 6px;
    border-radius: 6px;
}

.alerts-section button {
    margin-top: 20px;
    padding: 14px 60px;
    background: linear-gradient(to bottom, #2c7da0, #168aad);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

@media (max-width: 768px){

    .alerts-card {
        width: 100%;
        height: auto;
        padding: 30px 20px;
        border-radius: 18px;
        box-sizing: border-box;
    }

    .alerts-card h1 {
        font-size: 20px;
        margin-bottom: 25px;
        text-align: center;
    }

    .alerts-section {
        width: 100%;               
    }

    .sound-group {
        margin-bottom: 20px;
    }

    .sound-group label {
        font-size: 13px;
    }

    .alerts-section button {
        width: 100%;              
        padding: 14px;
        margin-top: 15px;
    }
}
