*{
    box-sizing: border-box;
}
.camera-card {
    width: 100%;
    height: 550px;
    background: #e6e6e6;
    border-radius: 25px;
    padding: 80px 100px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
}

.camera-card h1 {
    margin: 0 0 40px 0;
    font-size: 30px;
}

.camera-section {
    display: flex;
    gap: 80px;
}

.camera-preview {
    width: 400px;
    height: 300px;
    background: #d9d9d9;
    border-radius: 20px;
    border: 2px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.camera-controls {
    flex: 1;
}

.control-group {
    margin-bottom: 25px;
}

.control-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
}

.control-group select {
    width: 250px;
    padding: 10px;
    border: 2px solid #2c7da0;
    border-radius: 8px;
    background: white;
}

.camera-controls button {
    margin-top: 30px;
    padding: 14px 60px;
    background: linear-gradient(to bottom, #2c7da0, #168aad);
    border: none;
    width: 250px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.camera-controls button:hover {
    transform: translateY(-2px);
}

@media (max-width: 768px){

    .camera-card {
        width: 100%;
        height: auto;
        padding: 30px 20px;
        border-radius: 18px;
        box-sizing: border-box;
    }

    .camera-card h1 {
        font-size: 20px;
        margin-bottom: 25px;
        text-align: center;
    }

    .camera-section {
        flex-direction: column;  
        gap: 25px;
    }

    .camera-preview {
        width: 100%;             
        height: 220px;            
        border-radius: 15px;
    }

    .camera-controls {
        width: 100%;
    }

    .control-group select {
        width: 100%;              
    }

    .camera-controls button {
        width: 100%;              
        padding: 14px;
        margin-top: 20px;
    }
}
