<!DOCTYPE html>
<html>
<head>
    <title>ExamGuard</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/records.css">
    <link rel="stylesheet" href="/static/css/history.css">
    <link rel="stylesheet" href="/static/css/settings.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<style>
  body{
    margin: 0%;
  }
</style>
<body>

    {% include "navbar.html" %}

    {% block content %}
    {% endblock %}

</body>
</html>