<div class="topbar">

    <div class="logo-section">
        <div class="logo-box">
            <img src="/static/img/examguard_logo.png" alt="">
        </div>
        <div class="brand">ExamGuard</div>
    </div>

    <div class="nav-links">
        <a href="{{ url_for('dashboard') }}">Home</a>
        <a href="{{ url_for('records') }}">Records</a>
        <a href="{{ url_for('history') }}">History</a>
    </div>

    <div class="settings-box">
        <a href="{{ url_for('settings') }}"><i class="fas fa-gear"></i></a>        
    </div>

</div>