{% extends "base.html" %}
{% block content %}

<div class="records-container">
    <h2 class="records-title">Records</h2>

    <div class="records-grid">

        <div class="record-card">
            <div class="record-picture">Picture</div>
            <p>Time/Date: 03/12/2026 10:32 AM</p>
        </div>

        <div class="record-card">
            <div class="record-picture">Picture</div>
            <p>Time/Date: 03/12/2026 10:40 AM</p>
        </div>

        <div class="record-card">
            <div class="record-picture">Picture</div>
            <p>Time/Date: 03/12/2026 11:05 AM</p>
        </div>

        <div class="record-card">
            <div class="record-picture">Picture</div>
            <p>Time/Date: 03/12/2026 11:20 AM</p>
        </div>

        <div class="record-card">
            <div class="record-picture">Picture</div>
            <p>Time/Date: 03/12/2026 11:45 AM</p>
        </div>

    </div>
</div>

{% endblock %}