/* RECORDS PAGE */
.records-container {
    height: calc(100vh - 70px);
    background: linear-gradient(to right, #1f6f8b, #0f4c5c);
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;             
    flex-direction: column;   
    overflow: hidden;  
}

.records-title {
    text-align: center;
    color: white;
    font-size: 32px;
    margin: 0%;
    margin-bottom: 20px;
}

.records-grid {
    flex: 1;                  
    overflow-y: auto; 
    padding: 30px;
    -webkit-overflow-scrolling: touch;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 25px;
}

.records-grid::-webkit-scrollbar {
    width: 5px;
}

.records-grid::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
    border-radius: 20px;
}

.record-card {
    background: #1d5c73;
    border: 2px solid #0e3e4f;
    padding: 15px;
    height: 210px;
    color: white;
}

.record-card p{
    font-size: 14px;
    margin: 0%;
}

.record-picture {
    height: 150px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

@media (max-width: 768px) {

    .records-container {
        height: calc(100dvh - 70px);
        padding: 15px 0;
        overflow-y: auto;    
        -webkit-overflow-scrolling: touch; 
    }

    .records-title {
        font-size: 24px;
    }

    .records-grid {
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .record-card {
        height: 200px;
        padding: 12px;
    }

    .record-card p{
        font-size: 12px;
        margin: 0%;
    }

    .record-picture {
        height: 120px;
    }
}
