@media (max-width: 768px) {

    .records-container {
        height: calc(100dvh - 70px);
        padding: 15px 0;
        overflow-y: auto;    
        -webkit-overflow-scrolling: touch; 
    }

    .records-title {
        font-size: 24px;
    }

    .records-grid {
        padding: 20px;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .record-card {
        height: auto;
        padding: 12px;
    }

    .record-card p{
        font-size: 12px;
        margin: 0%;
    }

    .record-picture {
        height: 120px;
    }
}
